CsvSchema==1.1.1
argparse>=1.2.1,<1.4.0
beautifulsoup4==4.3.2
feedparser==5.1.3
greenlet>=0.4.2,<0.5.0
netaddr==0.7.12
pygeoip>=0.3.1,<0.4.0
requests>=2.3.0,<2.6.0
sortedcontainers==0.9.4
wsgiref==0.1.2
unicodecsv==0.9.4
yapsy==1.10.423
logbook==0.8.1
dnspython==1.12.0
-e git+https://github.com/icann/uniaccept-python.git@2fd43061c729fdd834b93ee64ea33695266ddae0#egg=uniaccept-master
